@import "tailwindcss";
body{
    background: #9e9e9e;
}
.Footer{
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
}

.Navbar{
    width: 100%;
    height: 50px;
    background-color: #333;
} 